<div class="container-fluid" *ngIf="loadingFinished; else loading_content">
  <div class="row justify-content-around" style="height: 90vh; padding-top: 10px">
    <div class="col-12 col-md-7" style="height: 100%">
      <div style="width: 100%; height: 90%;padding: 5px">
        <fpl-formation></fpl-formation>
      </div>
      <div id="gw-info">
        <div class="gw-switch">
          <button type="button" class="btn btn-light" (click)="lowerCurrentGW()">
            <span class="oi oi-chevron-left" style="opacity: 0.8"></span>
          </button>
        </div>
        <div id="gw-name"><h3>Gameweek {{ current_gameweek }}</h3></div>
        <div class="gw-switch">
          <button type="button" class="btn btn-light" (click)="raiseCurrentGW()">
            <span class="oi oi-chevron-right" style="opacity: 0.8"></span>
          </button>
        </div>
        <div id="myteam-save-changes">

        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 d-sm-none d-md-block" style="height: 100%; padding: 0">
      <fpl-teams-aside [teams]="teams"></fpl-teams-aside>
    </div>
  </div>
</div>

<ng-template #loading_content>Loading...</ng-template>